<h1>Add Author</h1>

<p>First Name {{input value=firstName}}</p>
<p>Last Name {{input value=lastName}}</p>
<p>Photo URL{{input value=photo}}</p>
<p>Biography </p><p>{{textarea cols="30" rows="10" value=bio}}</p>

<button {{action 'addAuthor'}} class="add-author">Save</button>